{% extends 'base.html.twig' %}

{% block title %}OrdenServicio index{% endblock %}

{% block body %}
    <h1>OrdenServicio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaOrden</th>
                <th>NumeroOrden</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for orden_servicio in orden_servicios %}
            <tr>
                <td>{{ orden_servicio.id }}</td>
                <td>{{ orden_servicio.fechaOrden ? orden_servicio.fechaOrden|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ orden_servicio.numeroOrden }}</td>
                <td>
                    <a href="{{ path('orden_servicio_show', {'id': orden_servicio.id}) }}">show</a>
                    <a href="{{ path('orden_servicio_edit', {'id': orden_servicio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orden_servicio_new') }}">Create new</a>
{% endblock %}
