{% extends 'base.html.twig' %}

{% block title %}OrdenServicio index{% endblock %}

{% block body %}
    <h1>OrdenServicio index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Fecha Ingreso</th>
            <th>Fecha Salida</th>
            <th>Numero</th>
            <th>Cliente</th>
            <th>Equipo</th>
            <th>Estado</th>
            <th>Precio</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for orden_servicio in orden_servicios %}
            <tr>
                <td>{{ orden_servicio.fechaIngreso | date('d-m-Y') }}</td>
                <td>
                    {% if orden_servicio.fechaSalida %}
                        {{ orden_servicio.fechaSalida | date('d-m-Y') }}
                    {% endif %}
                </td>
                <td>{{ orden_servicio.numeroOrden }}</td>
                <td>{{ orden_servicio.clienteOrden }}</td>
                <td>{{ orden_servicio.equipo }}</td>
                <td>
                    {#                    {{ orden_servicio.estadoOrden | join(', ') }}#}
                    {% for estado in orden_servicio.estadoOrden %}
                        {{ estado }},
                    {% endfor %}
                </td>
                <td>{{ orden_servicio.precio }}</td>
                <td>
                    <a href="{{ path('orden_servicio_show', {'id': orden_servicio.id}) }}">show</a>
                    <a href="{{ path('orden_servicio_edit', {'id': orden_servicio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('orden_servicio_new') }}">Nuevo</a>
    <a href="{{ path('orden_servicio_reporte_socio') }}">Reporte de Socios</a>
{% endblock %}
