{% extends 'base.html.twig' %}

{% block title %}DetalleOrden index{% endblock %}

{% block body %}
    <h1>DetalleOrden index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FechaIngreso</th>
                <th>FechaEntrega</th>
                <th>Observacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalle_orden in detalle_ordens %}
            <tr>
                <td>{{ detalle_orden.id }}</td>
                <td>{{ detalle_orden.fechaIngreso ? detalle_orden.fechaIngreso|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ detalle_orden.fechaEntrega ? detalle_orden.fechaEntrega|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ detalle_orden.observacion }}</td>
                <td>
                    <a href="{{ path('detalle_orden_show', {'id': detalle_orden.id}) }}">show</a>
                    <a href="{{ path('detalle_orden_edit', {'id': detalle_orden.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detalle_orden_new') }}">Create new</a>
{% endblock %}
